.ForYourPleasurePage{
    height: 340px;
    background: url('./img/Background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items:center;
    justify-content: center;
    h1{
        color:white;
        font-size: 40px;
        font-weight: 500;
    }
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 35px;
    align-items: center;
    width: 820px;
}