.aboutOurGoods{
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 70px;
    min-height: 500px;

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        height: 400px;
        padding-left: 20px;

    h2{
        font-size: 20px;
        font-weight: 500;
    }
    p{
        line-height: 30px;
        height: 250px;
        align-content:center;
        text-align: center;
    }
}  

&__con{
    width: 15%;
    height: 100%;
}
&__img{
    width: 400px;
    height: 392px;
    background-size: cover;
    background-position: center;
    object-fit: contain;
}

}
.divider{
    width: 240px;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
}